<h3>Title: <%=@resturant.name%></h3>

<h3>Address: <%=@resturant.address%></h3>

<h3>City: <%=@resturant.city%></h3>

<h3>State: <%=@resturant.state%></h3>

<h3>Zipcode: <%=@resturant.zipcode%></h3>

<h3>Category: <%=@resturant.category%></h3>

<h3>Description: <%=@resturant.description%></h3>

<%=link_to 'Back to resturant\'s home page', resturants_path %>
